<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdulsamadkhan.audiotest">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Npatient"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicalHistory"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicalData"
            android:screenOrientation="portrait"/>
        <activity android:name=".recorder"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowPatientDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Visit1SymVsi"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register"
            android:screenOrientation="portrait"/>
        <activity android:name=".PatientRegister"
            android:screenOrientation="portrait"/>
        <activity android:name=".Shareddata"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowSharedPatientDetails"
            android:screenOrientation="portrait"/>

        <activity android:name=".client"
            android:screenOrientation="portrait"/>
        <activity android:name=".report"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>